---
import Layout from "../layouts/Layout.astro";
---

<Layout title="contacto">
    <main class="flex flex-col justify-center items-center">
        <h1>Contactos</h1>
        <div id="logos">
            <a href="https://facebook.com">
                <img src="/logo face.png" />
            </a>
            <a href="https://instagram.com">
                <img src="/logo inst.jpeg" />
            </a>
            <a href="https://youtube.com">
                <img src="/youtube logo.png" />
            </a>
        </div>
        <div class="form-container">
            <form method="post" class="columna" id="contact">
                <div class="fila">
                    <div class="columna">
                        <label for="nombre">Nombre</label>
                        <input type="text" id="nombre" name="nombre" />
                    </div>
                    <div class="columna">
                        <label for="apellido">Apellido</label>
                        <input type="text" id="apellido" name="apellido" />
                    </div>
                </div>
                <div class="columna">
                    <label for="email">Email</label>
                    <input type="text" id="email" />
                </div>

                <input type="submit" />
            </form>
        </div>
    </main>
    <style>
        .form-container {
            max-width: 480px;
            display: flex;
            justify-content: center;
        }
        #formulario {
            width: 100%;
        }
        .columna {
            display: flex;
            width: 100%;
            flex-direction: column;
            gap: 8px;
        }
        .fila {
            display: flex;
            flex-direction: row;
            gap: 8px;
        }
        h1 {
            text-align: center;
        }
        #logos {
            display: flex;
            justify-content: center;
            margin: 100px;
        }
    </style>
</Layout>

<script is:inline>
const form = document.getElementById("contact");
form.addEventListener("submit", (event) => {
    // stop form submission
    event.preventDefault();

    const name = form.elements.nombre;
    const apellido = form.elements["apellido"];
    if (name.value === "") {
        name.style.borderColor = "red";
        name.style.borderWidth = "1px";
        alert("pone algo mogolico");
    } else {
        alert("se envio " + name.value + " " + apellido.value);
    }
});
</script>
