---
import Layout from "../layouts/Layout.astro";
---

<Layout title="contacto">
    <main>
        <h1>Contactos</h1>
        <div id="logos">
            <a href="https://facebook.com">
                <img src="/logo face.png" />
            </a>
            <a href="https://instagram.com">
                <img src="/logo inst.jpeg" />
            </a>
            <a href="https://youtube.com">
                <img src="/youtube logo.png" />
            </a>
        </div>
        <form class="columna" id="formulario">
            <div class="fila">
                <div class="columna">
                    <label for="nombre">Nombre</label>
                    <input type="text" id="nombre" />
                </div>
                <div class="columna">
                    <label for="apellido">Apellido</label>
                    <input type="text" id="apellido" />
                </div>
            </div>
            <div class="columna">
                <label for="email">Email</label>
                <input type="text" id="email" />
            </div>

            <input type="submit" />
        </form>
    </main>
    <style>
        #formulario {
            max-width: 480px;
        }
        .columna {
            display: flex;
            width: 100%;
            flex-direction: column;
            gap: 8px;
        }
        .fila {
            display: flex;
            flex-direction: row;
            gap: 8px;
        }
        h1 {
            text-align: center;
        }
        #logos {
            display: flex;
            justify-content: center;
            margin: 100px;
        }
    </style>
</Layout>
