---
import Layout from "../layouts/Layout.astro";
---

<Layout title="contacto">
    <main>
        <h1>Contactos</h1>
        <div id="logos">
            <a href="https://facebook.com">
                <img src="/logo face.png" />
            </a>
            <a href="https://instagram.com">
                <img src="/logo inst.jpeg" />
            </a>
            <a href="https://youtube.com">
                <img src="/youtube logo.png" />
            </a>
        </div>
    </main>
    <style>
        h1 {
            text-align: center;
        }
        #logos {
            display: flex;
            justify-content: center;
            margin: 100px;
        }
    </style>
</Layout>
