---
import Layout from "../layouts/Layout.astro";
import { Image } from "@astrojs/image/components";
const face = "../../public/facebook imagen.png";
---

<Layout title="contacto">
    <main class="flex flex-col justify-center items-center">
        <h1>Contactos</h1>
        <div id="logos">
            <a href="https://facebook.com">
                <Image
                    src={face}
                    alt="facebook"
                    closeat="webp"
                    width={40}
                    height={40}
                />
            </a>
            <a href="https://instagram.com">
                <Image
                    src="/instagram imagen.png"
                    alt="facebook"
                    format="png"
                    width={40}
                    height={40}
                />
            </a>
            <a href="https://youtube.com">
                <Image
                    src="/youtube imagen.png"
                    alt="facebook"
                    format="png"
                    width={60}
                    height={40}
                />
            </a>
        </div>
        <div class="form-container">
            <form method="post" class="columna" id="contact">
                <div class="fila">
                    <div class="columna">
                        <label for="nombre">Nombre</label>
                        <input
                            class="input"
                            type="text"
                            id="nombre"
                            name="nombre"
                        />
                    </div>
                    <div class="columna">
                        <label for="apellido">Apellido</label>
                        <input
                            class="input"
                            type="text"
                            id="apellido"
                            name="apellido"
                        />
                    </div>
                </div>
                <div class="columna">
                    <label for="email">Email</label>
                    <input
                        class="input"
                        type="email"
                        id="email"
                        placeholder="ingrese mail"
                    />
                </div>
                <div class="columna">
                    <label for="mensaje">Mensaje</label>
                    <input class="letras" type="text" id="mensaje" />
                </div>
                <div class="columna">
                    <label for="asunto">Asunto</label>
                    <input class="letras" type="text" id="asunto" />
                </div>

                <button
                    value="Enviar"
                    class="bg-orange-400 p-2 my-2 w-20"
                    type="submit"
                >
                    Enviar</button
                >
            </form>
        </div>
        <dialog id="popuFallo">
            complete los campos
            <button
                id="cancelFallo"
                type="reset"
                value="cerrar"
                class="bg-orange-400 p-2 my-2 w-20"
            >
                X</button
            >
        </dialog>
        <div popover id="popover">Mensaje Exitoso</div>
    </main>
</Layout>
<style>
    .form-container {
        max-width: 480px;
        display: flex;
        justify-content: center;
    }
    #formulario {
        width: 100%;
    }
    .columna {
        display: flex;
        width: 100%;
        flex-direction: column;
        gap: 8px;
    }
    .fila {
        display: flex;
        flex-direction: row;
        gap: 8px;
    }
    h1 {
        text-align: center;
    }
    #logos {
        display: flex;
        justify-content: center;
        margin: 100px;
    }
    .input {
        background-color: gray;
    }
    .letras {
        color: black;
    }
</style>
<script is:inline>
const form = document.getElementById("contact");
const popuFallo = document.getElementById("popuFallo");
form.addEventListener("submit", (event) => {
    // stop form submission
    event.preventDefault();

    const popover = document.getElementById("popover");
    const inputs = form.elements;
    let nombre = inputs.nombre.value;
    console.log(form.elements);
    let valido = true;
    for (i = 0; i < form.elements.length; i = i + 1) {
        const elementoSeleccionado = form.elements[i];
        console.log(elementoSeleccionado);
        if (
            elementoSeleccionado.value === "" &&
            elementoSeleccionado.type !== "submit"
        ) {
            valido = false;
            elementoSeleccionado.style.borderColor = "red";
            elementoSeleccionado.style.borderWidth = "1px";
        } else {
            elementoSeleccionado.style.borderColor = "none";
            elementoSeleccionado.style.borderWidth = "0px";
        }
    }
    if (!valido) popuFallo.showModal();
    if (valido) {
        popover.showPopover();
    }
});
const cancelFallo = document.getElementById("cancelFallo");
cancelFallo.addEventListener("click", function () {
    popuFallo.close();
    });
</script>
