---
import Layout from "../layouts/Layout.astro";
import { Image } from "@astrojs/image/components";
const face = "../../public/facebook imagen.png";
---

<Layout title="contacto">
    <main class="flex flex-col justify-center items-center">
        <h1>Contactos</h1>
        <div id="logos">
            <a href="https://facebook.com">
                <Image
                    src={face}
                    alt="facebook"
                    format="webp"
                    width={40}
                    height={40}
                />
            </a>
            <a href="https://instagram.com">
                <Image
                    src="/instagram imagen.png"
                    alt="facebook"
                    format="png"
                    width={40}
                    height={40}
                />
            </a>
            <a href="https://youtube.com">
                <Image
                    src="/youtube imagen.png"
                    alt="facebook"
                    format="png"
                    width={60}
                    height={40}
                />
            </a>
        </div>
        <div class="form-container">
            <form method="post" class="columna" id="contact">
                <div class="fila">
                    <div class="columna">
                        <label for="nombre">Nombre</label>
                        <input
                            class="input"
                            type="text"
                            id="nombre"
                            name="nombre"
                        />
                    </div>
                    <div class="columna">
                        <label for="apellido">Apellido</label>
                        <input
                            class="input"
                            type="text"
                            id="apellido"
                            name="apellido"
                        />
                    </div>
                </div>
                <div class="columna">
                    <label for="email">Email</label>
                    <input
                        class="input"
                        type="email"
                        id="email"
                        placeholder="ingrese mail"
                    />
                </div>
                <div class="columna">
                    <label for="mensaje">Mensaje</label>
                    <input class="letras" type="text" id="mensaje" />
                </div>
                <div class="columna">
                    <label for="asunto">Asunto</label>
                    <input class="letras" type="text" id="asunto" />
                </div>

                <input type="submit" />
            </form>
        </div>
    </main>
    <style>
        .form-container {
            max-width: 480px;
            display: flex;
            justify-content: center;
        }
        #formulario {
            width: 100%;
        }
        .columna {
            display: flex;
            width: 100%;
            flex-direction: column;
            gap: 8px;
        }
        .fila {
            display: flex;
            flex-direction: row;
            gap: 8px;
        }
        h1 {
            text-align: center;
        }
        #logos {
            display: flex;
            justify-content: center;
            margin: 100px;
        }
        .input {
            background-color: gray;
        }
        .letras {
            color: black;
        }
    </style>
</Layout>

<script is:inline>
const form = document.getElementById("contact");
form.addEventListener("submit", (event) => {
    // stop form submission
    event.preventDefault();
    let valido = true;
    console.log(form.elements);
    for (i = 0; i < form.elements.length; i = i + 1) {
        const elementoSeleccionado = form.elements[i];
        console.log(elementoSeleccionado);
        if (
            elementoSeleccionado.value === "" &&
            elementoSeleccionado.type !== "submit" &&
            elementoSeleccionado.id !== "mensaje" &&
            elementoSeleccionado.id !== "asunto"
        ) {
            valido = false;
            elementoSeleccionado.style.borderColor = "red";
            elementoSeleccionado.style.borderWidth = "1px";
        } else {
            elementoSeleccionado.style.borderColor = "none";
            elementoSeleccionado.style.borderWidth = "0px";
        }
    }
    if (!valido) alert("complete los campos vacios antes de enviar");
});
</script>
