---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Walter Palavecino">
    <main>
        <h1>Walter Palavecino</h1>
        <h2>
				me presento soy Walter Palavecino y esta es mi primera pagina
				creada para poder aprobar este taller
			</h2>
    </main>
</Layout>
<style>
h1 {
text-align: center;
}
h2 {
		text-align: center;
	}
</style>
