---
import Layout from "../layouts/Layout.astro";
---

<Layout title="sobremi">
    <main>
        <h1>Sobre mi:</h1>
        <h1>Soy estudiante del CET N°1. Aspirante a programador profecional</h1>
    </main>
</Layout>
<style>
    h1 {
        text-align: center;
    }
</style>
